$colors-blue-primary: #3f5db3;

$colors-pure-white: #ffffff;
$colors-pure-black: #000000;

$colors-type-bug: #9bba48;
$colors-type-dark: #595761;
$colors-type-dragon: #2c6ac1;
$colors-type-electric: #d4bc34;
$colors-type-fairy: #e296e1;
$colors-type-fighting: #c44d61;
$colors-type-ground: #ce8056;
$colors-type-ice: #71baac;
$colors-type-normal: #909090;
$colors-type-poison: #ac6aca;
$colors-type-psychic: #eb8b85;
$colors-type-rock: #84beb3;
$colors-type-ghost: #616eb7;
$colors-type-grass: #73b861;
$colors-type-steel: #6594a1;
$colors-type-water: #4f77be;
$colors-type-fire: #e96303;
$colors-type-flying: #758cbd;
